{% load static %}

<html>
    <head>
        <title> Django Tutorials </title>
        {% comment %} Bootstrap {% endcomment %}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
        
        {% comment %} Google Fonts {% endcomment %}
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

        {% comment %} My CSS {% endcomment %}
        <link rel="stylesheet" href={% static 'css/blog.css' %}/>
    </head>
    <body>
        <div class="page-header">
            <a href="{% url 'post_new'%}" class="top-menu">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
            <h1> <a href="/"> Django Blog's Tutorial </a> </h1>
        </div>

        <div class="container">
            {% block content %}
            {% endblock  %}
        </div>

    </body>
</html>